
nav{
    border:3px solid orange;
    background-color: orange;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    text-align: right;
}
nav a{
    padding: 20px;
    text-decoration: none;
    color: rgb(255, 242, 147);
    font-family:Georgia;
    font-style: oblique;
}
main{
    text-align: center;
}
h1{
    text-decoration:overline;
}
p{
    margin: 30px;
    padding:20px;
    text-align: justify;
    background-color:  rgb(255, 242, 147);
    border-radius: 20px;
    border: 5px dotted black;
}
img{
    border-radius: 20px;
    border: 5px dotted orange;
}
h3{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    background-color: orange;
}
