body {
    font-family: sans-serif;
    text-align: center;
}
header img{
    margin-bottom: 30px;
}
header a{
    color: black;
    text-decoration-thickness: 3px;
    padding: 10px 40px 5px 40px; 
}
h1{
    margin: 50px;
}
main p{
    margin: 50px;
    padding: 10px;
    text-align: left;
    border: 1px solid blue;
    border-radius: 10px;
}
main img{
    border-left: 10px dotted black;
    padding-left: 15px;
    padding-right: 50px ;
}
footer{
    background-color: black;
    border: 1px solid black;
}
footer p{
    text-align: left;
    background-color: white;
    margin: 10px 5px 10px 5px;
    padding: 5px;
}
